<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Custom Codex</title>
    <meta name="Description" content="A collaboratively-designed, virtual cultural museum created by and for communities.">
	
	<!--STYLES-->
	<link rel="stylesheet" href="resources/style/importer.min.css">
	<!--STYLES END-->
</head>

<body class="cc full-template">
    <div id="meta-config" style="display:none;">
        <span id="title">Custom<span class="config-replace" data-content="appName"> Codex</span></span>
    </div>

    <div class="pagewrapper">
        <div id="top_navbar">
            <nav class="cc navbar-top">
                 <div class="container-fluid">
                    <h1 class="logo-cc"><a class="navbar-brand desktop" href="/">Custom Codex</a></h1>

                    <!-- <a href="/" class="navbar-brand mobile"><img src="/media/<%= icon %>"  alt="icon only for mobile"></a> -->
                     <button type="button" class="navbar-toggle cc-toggle collapsed" data-toggle="collapse" data-target=".menu-items" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>

                    <div class="menu-items navbar-collapse collapse">
                        <!--
                        <a href="https://culturalcodex.com/about">About</a>
                        <a href="https://www.dadavan.com/company/">Company</a>
                        <a href="https://culturalcodex.com/blog">Blog</a>
                        <a href="https://culturalcodex.com/contact">Contact</a>
                        -->
                    </div>

                    
                    <div class="pull-right sign-up-menu">
                        <a href="mailto:hello@customcodex.com">hello@customcodex.com</a>
                        <!--
                         <a href="">Sign In</a>
                         <a href="https://culturalcodex.com/signup" class="sign-up"><button class="btn-cc">Sign Up</button></a>
                        -->
                     </div>

                     <div class="pull-right cc social-nav navbar-collapse collapse">
                         <a href="https://www.facebook.com/culturalcodex"><span class="sp-facebook-circ-white"></span></a>
                         <a href="https://twitter.com/culturalcodex"><span class="sp-twitter-circ-white"></span></a>
                         <a href="https://www.instagram.com/culturalcodex/"><span class="sp-instagram-circ-white"></span></a>
                     </div>

                     
                 </div>
            </nav>
        </div>

        <!-- <div id="cc_navbar">
           <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <h1 class="logo-cc"><a class="navbar-brand desktop" href="/"><%= text.appName %></a></h1>

                        <a href="/" class="navbar-brand mobile"><img src="/<%= icon %>"  alt="icon only for mobile"></a>
                        
                        <div class="pull-right menu-items">
                            <a href="/custom_codex/cc_home.html">Home</a>
                            <a href="/custom_codex/cc_how_it_works.html">How it Works</a>
                            <a href="/blog">Solutions</a>
                            <a href="/blog">Getting Started</a>
                            <a href="#" class="sign-up"><button class="btn-cc">Request a Demo</button></a>
                        </div>


                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
        
                    <div id="navbar" class="navbar-collapse collapse">
                           
                    </div> --><!--/.navbar-collapse 
                </div>
            </nav>
        </div> -->

        <div class="jumbotron cc">
            <div class="container">
                <div class="col-xs-12">
                    <div class="intro-text col-xs-12 col-sm-8 col-sm-offset-2">
                        <h1 class="cc-h1">Great Stories. Made Simply.</h1>
                        <h2 class="timeline-title">
                           Custom Codex is the easiest online collaboration tool for creating beautiful, media-rich, shareable stories.
                        </h2>
                        
                        <!-- Remove play button until later: <span class="sp sp-play-large"></span> -->

                        <h2 class="timeline-title"> Beautiful digital storytelling, without design or coding skills.</h2>
                    </div>
                </div>
            </div>
        </div><!--  end of jumbotron -->

        <section class="text-section engage">
            <div class="container">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <h2 class="cc-h2">We use the term 'stories' loosely - they can be anything from portfolios, exhibits, archival remixes, community stories, student projects, and much more.</h2>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1">
                            <img id="scroll-to" class="stunning-exhibits" src="resources/media/stunning-exhibits.svg" alt="Showcase Stunning Exhibits">
                            <h4>Showcase stunning exhibits</h4>
                        </div>
                        
                            <svg class="dot-line-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 83.25 64"><defs><style>.dot-1{fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke:url(#linear-gradient-1);}</style><linearGradient id="linear-gradient-1" x1="1.82" y1="32.37" x2="80.78" y2="32.37" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e85f2c"/><stop offset="1" stop-color="#885053"/></linearGradient></defs><title>dot-line</title><g id="Layer_2" data-name="Layer 2"><path class=" dot-1" d="M2.32,27C27.66-13,90,.25,79,60.62"/></g></svg>
                        
                        
                        
                        <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-7">
                            <img src="resources/media/portfolios.svg" alt="Porfolios">
                            <h4>Portfolios</h4>
                        </div>

                        <svg class="dot-line-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 95.33 76"><defs><style>.dot-2{fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke:url(#linear-gradient-2);}</style><linearGradient id="linear-gradient-2" x1="19.03" y1="41.37" x2="75.24" y2="41.37" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0f8b8d"/><stop offset="1" stop-color="#885053"/></linearGradient></defs><title>dot-line</title><g id="Layer_2" data-name="Layer 2"><path class="dot-2" d="M74.74,16c-24.5-7.75-63.43,5.62-53.68,52.87"/></g></svg>
                        
                        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1">
                            <img src="resources/media/school-projects.svg" alt="School Projects">
                            <h4>School Projects</h4>
                        </div>

                        <svg class="dot-line-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 95.33 76">
                            <defs>
                                <style>
                                    .dot-3{fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke:url(#linear-gradient-3);}
                                </style>
                                <linearGradient id="linear-gradient-3" x1="4.83" y1="38" x2="90.51" y2="38" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0f8b8d"/><stop offset="1" stop-color="#e85f2c"/></linearGradient>
                            </defs>
                            <title>dot-line</title><g id="Layer_2" data-name="Layer 2"><path class="dot-3" d="M5.33,23.47c41.43-34.75,98.43-4.25,81.68,44"/></g></svg>

                        <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-7">
                            <img src="resources/media/community-engagement.svg" alt="Special Initiatives">
                            <h4>Community Engagement</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="text-section feature-stories">
            <div class="container text-center">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2 class="cc-h2">Create your own collection of stories with text, video, sound, and images.</h2>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well">
                                <div class="feature-story" style="background: url(resources/media/feat-img.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>Animals of Costa Rica</h4>
                                    <div class="title-divider"></div>
                                    
                                </div>
                                
                                <h6>Sample: Education/Teaching Tool</h6>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well ">
                                <div class="feature-story" style="background: url(resources/media/feat-img-02.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>State of Mine</h4>
                                    <div class="title-divider"></div>
                                </div>

                                <h6>Sample: Portfolio</h6>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well">
                                <div class="feature-story" style="background: url(resources/media/feat-img-04.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>Clam Factory</h4>
                                    <div class="title-divider"></div>
                                </div>
                                <h6>Sample: Museum</h6>
                            </div>
                        </div>
                       
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well">
                                <div class="feature-story" style="background: url(resources/media/feat-img-03.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>IWK 5K Run for Jessica 2016</h4>
                                    <div class="title-divider"></div>
                                    
                                </div>
                                
                                <h6>Sample: Non-Profit</h6>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well ">
                                <div class="feature-story" style="background: url(resources/media/feat-img-05.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>Building a Wigwam</h4>
                                    <div class="title-divider"></div>
                                </div>

                                <h6>Sample: Cultural Group</h6>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-12 well">
                                <div class="feature-story" style="background: url(resources/media/feat-img-06.jpg) no-repeat; background-size: cover;"></div>
                                <div class="story-title">
                                    <h4>Dadavan Diversity</h4>
                                    <div class="title-divider"></div>
                                </div>
                                <h6>Sample: Business/Brand</h6>
                            </div>
                        </div>


                        <div class="col-xs-12">
                            <!--
                            <h4><a href="#">View more on our Pinterest</a></h4>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cc-lg-text clearfix">
            <div class="container">
                 <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>Custom Codex empowers your <span class="typer rotate-words"></span><br>
                    to contribute to the creation of great digital stories. They have the freedom to create; you maintain control of publishing.</h2>
                </div>
            </div>
        </section>
        
        <section class="app-screenshots clearfix">
            <div class="container">
                <div class="col-xs-12 col-sm-5">
                    <img class="imac-screenshot" src="resources/media/mac-01.jpg" alt="Look lik a designer in no time">
                </div>

                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                    <div class="col-xs-12">
                        <h2 class="cc-h2">Look like a Designer in No time.</h2>
                    
                        <p>Digital storytelling, without design or coding skills. Beautiful and intuitive templates with drag-and-drop design tools enable anyone to look like a pro.</p>
                        
                        <p>Students as young as nine have created some of our favourite stories.</p>
                        
                        <!--
                        <h4><a href="#">View more on our Pinterest</a></h4>
                        -->
                    </div>
                   
                </div>
            </div>
        </section>

        <section class="app-screenshots clearfix">
            <div class="phone-bg clearfix"></div>
            <div class="container">
                <div class="col-xs-12 col-sm-6">

                    <div class="col-xs-12 iphone-text">
                        
                        <h2 class="cc-h2">Share Your Stories Seamlessly.</h2>

                        <p>Custom Codex can integrate seamlessly within your website. Attract visitors and improve search engine rankings through engaging content</p>
                    
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                    <img class="iphone-screenshot" src="resources/media/iphone-01.jpg" alt="Share Your Stories Seamlessly">
                </div>
            </div>
        </section>
        
        <section class="app-screenshots clearfix">
            <div class="container">
                <div class="col-xs-12 col-sm-5">
                    <img class="imac-screenshot" src="resources/media/ipad-01.png" alt="Look lik a designer in no time">
                </div>

                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                    <div class="col-xs-12">
                        <h2 class="cc-h2">Organize Media</h2>
                    
                        <p>Easily store and organize digital media files within folders. Advanced metadata fields, developed in accordance with the Rules for Archival Description, are embedded within the media library.</p>
                        
                        <!--
                        <h4><a href="#">View more on our Pinterest</a></h4>
                        -->
                    </div>
                   
                </div>
            </div>
        </section>

        <section class="cc-cta clearfix">
            <div class="container">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h2 class="cc-h2 text-center">Tell Your Story</h2>
                    <h3 class="text-center">Start creating your own stories with a Custom Codex</h3>
                    <a href="mailto:hello@customcodex.com"><button class="btn-cc center-block">Contact</button></a>
                </div>
            </div>
        </section>

        <footer class="clearfix cc-footer">
            <div class="navbar">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <a class="footer-brand" href="/"><img src="resources/media/customcodex-white.svg" alt=""></a>

                            <div class="cc pull-left social-nav">
                                <a href="https://www.facebook.com/culturalcodex"><span class="sp-facebook-circ-white"></span></a>
                                <a href="https://twitter.com/culturalcodex"><span class="sp-twitter-circ-white"></span></a>
                                <a href="https://www.instagram.com/culturalcodex/"><span class="sp-instagram-circ-white"></span></a>
                            </div>
                            
                            <div class="pull-left">
                                <!--
                                <a class="about" href="/privacy">Privacy Policy</a>
                                <a class="about" href="/terms">Terms and Conditions</a>
                                -->
                                <a class="about" href="mailto:hello@customcodex.com">Contact us</a>
                                <a class="about" href="/">Visit Cultural Codex</a>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-4">
                            <p class="attribution"><img src="resources/media/B-corp-logo.png" alt="B-Corp"></p>
                            
                            <p class="attribution">
                                <i class="fa fa-copyright"></i> Dadavan Systems Inc. 2017
                            </p>
                        </div>
                    </div>

                </div>
                
            </div>

        </footer>
    </div>

    <div id="loginModalContainer" class="modal fade login-modal" tabindex="-1" role="dialog">
        <!-- Content removed here to be added by backbone view -->
        <!-- see assets/templates/loginModal.html -->
    </div>

    <!--SCRIPTS-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--SCRIPTS END-->
    
    <script type="text/javascript" src="resources/scripts/typed.js"></script>
	<script type="text/javascript" src="resources/scripts/scripts.js"></script>


</body>
</html>